<div id="<%= dom_id coffee %>">
  <p>
    <strong>Roaster:</strong>
    <%= coffee.roaster_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= coffee.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= coffee.country %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= coffee.region %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= coffee.town %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= coffee.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= coffee.lng %>
  </p>

  <p>
    <strong>Process:</strong>
    <%= coffee.process %>
  </p>

  <p>
    <strong>Altitude:</strong>
    <%= coffee.altitude %>
  </p>

  <p>
    <strong>Variety:</strong>
    <%= coffee.variety %>
  </p>

  <p>
    <strong>Tasting notes:</strong>
    <%= coffee.tasting_notes %>
  </p>

  <p>
    <strong>Producer:</strong>
    <%= coffee.producer %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= coffee.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= coffee.url %>
  </p>

</div>
