<div class="search-form">
  <%= form_with url: coffees_path, method: "GET" do |form| %>
    <div class="field">
      <%= form.text_field :query, class: 'form-input', placeholder: 'Search by Name, Tasting Notes, Country or Process' %>
      <%= form.label :query, 'Search by Name, Tasting Notes, Country or Process', class: 'form-label' %>
    </div>
    <%= form.submit 'Search', name: nil, class: 'form-submit btn btn-primary' %>
  <% end %>

  <div class="results">
    <% if params[:query] %>
      <%= pluralize(@pagy.count, 'result') %> for "<%= params[:query] %>"
    <% end %>
  </div>
</div>