<div id="<%= dom_id coffee %>" class="coffee-card card column">
  <div class="coffee-card-content row">
    <div class="column">
      <h4 class="name"><%= link_to coffee.name, coffee, class: 'link link-primary link-title' %></h4>
      <% if controller_name == 'coffees' %>
        <div class="roaster">
          by <%= link_to coffee.roaster.name, roaster_path(coffee.roaster), class: 'link link-primary' %>
        </div>
      <% end %>
      <% unless controller_name == 'dashboard' %>
        <ul class="details">
          <li class="row tasting-notes">
            <i class="las la-music"></i> <span><%= coffee.tasting_notes.titleize %></span>
          </li>
          <li class="row country">
            <i class="las la-map-marker"></i> <span><%= (coffee.country.present? ? coffee.country : coffee.region.present? ? coffee.region : 'Unknown').titleize %></span>
          </li>
          <li class="row process">
            <i class="las la-industry"></i> <span><%= coffee.process.present? ? coffee.process.titleize : 'Unknown' %></span>
          </li>
        </ul>
      <% end %>
    </div>
    <div class="controls column">
      <%= render 'favourites/favourite_toggle', coffee: coffee %>
      <%= render 'shelf_items/shelf_item_toggle', coffee: coffee %>
    </div>
  </div>
  <% unless controller_name == 'dashboard' %>
    <div class="metadata row">
      <span><i class="las la-mug-hot"></i> <%= coffee.brews_count %></span>
      <span>&#8226;</span>
      <span><i class="las la-hand-holding"></i> <%= coffee.shelf_items_count %></span>
      <span>&#8226;</span>
      <span><i class="las la-heart"></i> <%= coffee.favourites_count %></span>
      <span>&#8226;</span>
      <span><i class="las la-comment"></i> <%= coffee.reviews_count %></span>
    </div>
  <% end %>
</div>
