<div id="<%= dom_id coffee %>" class="<%= controller_name %>-<%= action_name %>">

  <!--  We can do something really cool and conditional with these.-->
<%#= controller_name %>
<%#= action_name %>

  <div class="name">
    <h1><%= coffee.name %></h1>
    <h2>by <%= link_to coffee.roaster.name, roaster_path(coffee.roaster) %></h2>
  </div>

  <div class="controls">
    <%= render 'favourites/favourite_toggle', coffee: coffee %>
    <%= render 'shelf_items/shelf_item_toggle', coffee: coffee %>
  </div>

  <div class="details-container" style="display:none;">
    <div class="details card">
      <h2>Details</h2>
      <div class="country">
        <strong>Country:</strong>
        <%= coffee.country %>
      </div>
      <div class="region">
        <strong>Region:</strong>
        <%= coffee.region %>
      </div>
      <div class="town">
        <strong>Town:</strong>
        <%= coffee.town %>
      </div>
      <div class="altitude">
        <strong>Altitude:</strong>
        <%= coffee.altitude %> masl
      </div>
      <div class="process">
        <strong>Process:</strong>
        <%= coffee.process %>
      </div>
      <div class="variety">
        <strong>Variety:</strong>
        <%= coffee.variety %>
      </div>
      <div class="producer">
        <strong>Producer:</strong>
        <%= coffee.producer %>
      </div>
      <div class="description">
        <strong>Description:</strong>
        <%= coffee.description.html_safe %>
      </div>
    </div>
  </div>

  <div class="global-stats">
    <div class="favourites">
      <%= render 'favourites/favourites_count', coffee: coffee %>
      users have this as a favourite
    </div>
    <div class="current_users">
      <%= render 'shelf_items/shelf_items_count', coffee: coffee %>
      users currently have this on their shelf
    </div>
    <div class="brews">
      This has been brewed
      <%= render 'brews/brews_count', coffee: coffee %>
      times by
      <%= render 'brews/brewers_count', coffee: coffee %>
      people
    </div>
    <div class="brew_rating">
      The average rating is <%= coffee.average_brew_rating %>/10
    </div>
  </div>

  <div class="user-stats">
    <div class="brews">
      You have brewed this coffee <%= current_user.brews.where(coffee: coffee).count %> times
    </div>
    <div class="brew_rating">
      Your average rating is <%= current_user.average_brew_rating(coffee) %>/10
    </div>
  </div>

  <div class="recent_brews">
    <h3>Recent Brews</h3>
    <%= link_to "View All Brews", coffee_brews_path(coffee) %>
    <%= render 'brews/recent_brews', coffee: coffee %>
  </div>


  <% coffee.attributes.each do |a| %>
    <p><%= a[0] %>: <%= a[1] %></p>
  <% end %>

</div>
