<div id="<%= dom_id coffee %>" class="coffee-card card column">
  <div class="coffee-card-content row">
    <div class="column">
      <h4 class="name">
        <% if controller_name == 'coffees' && action_name == 'show' %>
          <a class="link link-primary link-title" href="<%= coffee.url %>" target="_blank"><%= coffee.name %></a>
        <% else %>
          <%= link_to coffee.name, coffee, class: 'link link-primary link-title' %>
        <% end %>
      </h4>
      <% unless controller_name == 'roasters' %>
        <div class="roaster">
          by <%= link_to coffee.roaster.name, roaster_path(coffee.roaster), class: 'link link-primary' %>
          <a class="link link-primary" href="<%= coffee.roaster.website %>" target="_blank"><i class="icon-basic-external"></i></a>
        </div>
      <% end %>
      <% unless local_assigns[:shelf_item] %>
        <ul class="details">
          <li class="row tasting-notes">
            <i class="icon-basic-tongue-out"></i> <span><%= coffee.tasting_notes.titleize %></span>
          </li>
          <li class="row country">
            <i class="icon-basic-location-1"></i>
            <span><%= (coffee.country.present? ? coffee.country : coffee.region.present? ? coffee.region : 'Unknown').titleize %></span>
          </li>
          <li class="row process">
            <i class="icon-basic-factory"></i>
            <span><%= coffee.process.present? ? coffee.process.titleize : 'Unknown' %></span>
          </li>
        </ul>
      <% end %>
    </div>
    <div class="controls column">
      <%= render 'shelf_items/shelf_item_toggle', coffee: coffee %>
      <%= render 'favourites/favourite_toggle', coffee: coffee %>
    </div>
  </div>
  <div class="footer column">
    <div class="metadata row">
      <%= current_user.brews.where(coffee: coffee).count %> brews logged
    </div>
    <% unless local_assigns[:shelf_item] %>
      <div class="metadata row">
        <span class="tooltip-parent">
          <i class="icon-basic-coffee-cup"></i> <%= coffee.brews_count %>
          <span class="tooltip-content bottom delay-fast">Number of Brews</span>
        </span>
        <span>&#8226;</span>
        <span class="tooltip-parent">
          <i class="icon-basic-shelf"></i> <%= coffee.shelf_items_count %>
          <span class="tooltip-content bottom delay-fast">Users with this coffee on their shelf</span>
        </span>
        <span>&#8226;</span>
        <span class="tooltip-parent">
          <i class="icon-basic-heart"></i> <%= coffee.favourites_count %>
          <span class="tooltip-content bottom delay-fast">Users who have this saved as a favourite</span>
        </span>
        <span>&#8226;</span>
        <span class="tooltip-parent">
          <i class="icon-basic-satisfaction"></i> <%= coffee.reviews_count %>
          <span class="tooltip-content bottom delay-fast">Number of Reviews</span>
        </span>
      </div>
    <% end %>
    <%= render 'coffees/brew_button', coffee: %>
  </div>
</div>
