<div id="<%= dom_id coffee %>" class="<%= controller_name %>-<%= action_name %>">

  <!--  We can do something really cool and conditional with these.-->
<%#= controller_name %>
<%#= action_name %>

  <div class="name">
    <h1><%= coffee.name %></h1>
    <h2>by <%= link_to coffee.roaster.name, roaster_path(coffee.roaster) %></h2>
  </div>


  <hr>

  <%# coffee.attributes.each do |a| %>
<!--    <p><%#= a[0] %>: <%#= a[1] %></p>-->
  <%# end %>

</div>
