<div class="search-form">
  <%= form_with url:coffees_path, method: "GET" do |form| %>
    <%= form.label :query, "Search by Name, Tasting Notes, Country or Process" %>
    <%= form.text_field :query %>
    <%= form.submit 'Search', name: nil %>
  <% end %>

  <% if params[:query] %>
    <%= @pagy.count %> results for "<%= params[:query] %>"
  <% end %>
</div>