<%= turbo_frame_tag "coffee_tab" do %>
  <div class="links">
    <h2>Recent Brews</h2>
    <h3><%= link_to "Your Brews", coffee_user_brews_path(@coffee) %></h3>
    <h3><%= link_to "Reviews", coming_soon_coffee_path(@coffee) %></h3>
  </div>
  <hr>
  <% if @recent_brews.present? %>
    <%= turbo_stream_from "recent_brews" %>
    <%= render 'brews/brews_table', brews: @recent_brews %>
  <% else %>
    <h3 class="no-brews">No one has logged brews of this coffee</h3>
  <% end %>
<% end %>