<main class="<%= controller_name %>-<%= action_name %>">

  <header class="banner banner-primary-1">
    <div class="banner-content">
      <div class="page-title">
        <h2>Edit <a class="link-primary" href="<%= @coffee.url %>"><%= @coffee.name %></a></h2>
      </div>
      <p>from <a class="link-primary" href="<%= @coffee.roaster.website %>"><%= @coffee.roaster.name %></a></p>
    </div>
  </header>

  <%= render "form", coffee: @coffee %>

  <div class="form-links">
    <%= link_to "Show this coffee", @coffee %> |
    <%= link_to "Back to coffees", coffees_path %>
  </div>
</main>