<div class="<%= controller_name %>-<%= action_name %>">

  <p style="color: green"><%= notice %></p>

  <h1 class="page-title">All Coffees</h1>
  <p class="stats">There are <%= Coffee.all.size %> coffees from <%= Roaster.with_coffees.size %> roasters</p>

  <div class="search-form">
    <%= form_with url:coffees_path, method: "GET" do |form| %>
      <%= form.label :query, "Search By Name or Tasting Notes" %>
      <%= form.text_field :query %>
      <%= form.submit 'Search', name: nil %>
    <% end %>

    <% if params[:query] %>
      <%= @pagy.count %> results for "<%= params[:query] %>"
    <% end %>
  </div>

  <div id="coffees">
    <% @coffees.each do |coffee| %>
      <%= render coffee %>
      <%= link_to "Show this coffee", coffee %>
    <% end %>
  </div>
</div>