<div class="<%= controller_name %>-<%= action_name %>">

  <p style="color: green"><%= notice %></p>

  <h1 class="page-title">All Coffees</h1>
  <p class="stats">There are <%= @coffees.count %> coffees from <%= Roaster.with_coffees.count %> roasters</p>

  <div id="coffees">
    <% @coffees.each do |coffee| %>
      <%= render coffee %>
      <%= link_to "Show this coffee", coffee %>
    <% end %>
  </div>
</div>