<main class="<%= controller_name %>-<%= action_name %>">

  <header class="banner banner-primary-1">
    <div class="banner-content">
      <div class="page-title">
        <h2>Add a coffee</h2>
      </div>
      <h2>from <a class="link-primary" href="<%= @roaster.website %>"><%= @roaster.name %></a></h2>
      <p>Copy the details about a coffee from the roaster's website. The URL and name must be unique.</p>
    </div>
  </header>

  <%= render "form", coffee: @coffee %>
</main>