<main class="<%= controller_name %>-<%= action_name %>">
  <div class="banner banner-primary-1">
    <div class="banner-content">
      <%= render @coffee %>
    </div>
  </div>

  <% if current_user&.admin %>
    <div class="admin-controls-container">
      <div class="admin-controls">
        <h1>Admin Controls</h1>
        <%= link_to "Edit this coffee", edit_coffee_path(@coffee), class: "btn link-primary" %>
        <%= button_to "Destroy this coffee", @coffee,
                      method: :delete,
                      form: { data: { turbo_confirm: "Are you sure you want do delete this coffee?" } },
                      class: "btn link-danger" %>

        <%# This uses deletes with a turbostream request format. Leaving it here because its cool and would be interesting to implement if we want to delete things from the index page. It doesn't work great if we're deleting from a show page. %>
        <%#= link_to "Destroy this coffee",
                    coffee_path(@coffee),
                    data: { turbo_method: "delete", turbo_confirm: "Are you sure you want do delete this coffee?" },
                    class: "btn link-danger" %>
      </div>
    </div>
  <% end %>

  <%# I Feel as though there's a really clever way of making this SUPER DRY. There is very little changing between some of these partials here. Leaving this here as a reminder to investigate at a future date. For now: KISS %>
  <section class="tabs">
  <%= render 'coffees/recent_brews', locals: { coffee: @coffee , brews: @recent_brews} %>
  </section>
</main>
