<div id="dashboard_shelf_<%= dom_id(coffee) %>" class="shelf-item">
  <h3 class="coffee-name"><%= link_to coffee.name, coffee_path(coffee) %></h3>
  <h4>By <%= link_to coffee.roaster.name, roaster_path(coffee.roaster) %></h4>
  <p><%= current_user.brews.where(coffee: coffee).count %> brews logged</p>
  <p><%= link_to new_brew_path do %><i class="las la-coffee"></i> Make a Brew
    <% end %></p>
  <p><i class="las la-history"></i> View Brews</p>
  <%= render 'favourites/favourite_toggle', coffee: coffee %>
  <%= render 'shelf_items/shelf_item_toggle', coffee: coffee %>
</div>