<main class="dashboard">
  <div class="banner banner-primary-1">
    <div class="banner-content">

      <section class="header">
        <h1 class="username"><%= current_user.username.downcase %></h1>
        <div class="row">
          <p class="full-name"><%= current_user.full_name %></p>
          <span>&#8226;</span>
          <p class="joined">Brewing since <%= current_user.created_at.strftime("%d %b %Y") %></p>
        </div>

        <hr/>

        <div class="row stats">
          <span><span id="shelf_items_count"><%= current_user.shelf_items.count %></span> shelf items</span>
          <span>&#8226;</span>
          <span><span id="favourites_count"><%= current_user.favourites.count %></span> favourites</span>
        </div>

        <div class="row stats">
          <span><span id="total_brews_count"><%= current_user.brews.count %></span> brews</span>
          <span>&#8226;</span>
          <span><span id="weekly_brews_count"><%= current_user.brews.this_week.count %></span> this week</span>
          <span>&#8226;</span>
          <span><span id="daily_brews_count"><%= current_user.brews.today.count %></span> today</span>
        </div>
      </section>

    </div>
  </div>

  <section class="shelf-items">
    <h2><%= link_to 'Your Shelf', shelf_items_path, class: 'link link-white link-title' %></h2>
    <div id="dashboard_shelf" class="shelf row">
      <% @shelf_coffees.reverse.each do |coffee| %>
        <%= render 'shelf_items/shelf_item', coffee: coffee %>
      <% end %>
      <% unless @shelf_coffees.present? %>
        <% if current_user.sign_in_count < 5 %>
          <div class="shelf-item">
            <div class="coffee-card card column">
              <h4>This is your Coffee Shelf</h4>
              <p>Your shelf is where we put the coffees you currently own to keep track of what you have available.</p>
              <p>A coffee needs to be on your shelf for you to log a brew with it.</p>
            </div>
          </div>

          <div id="example_coffee" class="shelf-item">
            <div class="coffee-card card column">
              <div class="coffee-card-content row">
                <div class="column">
                  <h4 class="name"><a class="link link-primary link-title" href="#">Example Coffee</a></h4>
                  <div class="roaster">
                    by <a href="#" class="link link-primary">This Roaster</a>
                    <a class="link link-primary" href="#"><i class="icon-basic-external"></i></a>
                  </div>
                </div>
                <div class="controls column">
                  <%= render 'shelf_items/shelf_item_toggle', coffee: Coffee.available.first %>
                  <%= render 'favourites/favourite_toggle', coffee: Coffee.available.first %>
                </div>
              </div>
              <div class="footer column">
                <div class="metadata row">
                  16 brews logged
                </div>
                <div class="brew-btn">
                  <a href="#" class="btn btn-primary btn-primary-border">Make a Brew
                    <i class="icon-basic-coffee-cup-3"></i></a>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="shelf-item">
          <div class="coffee-card card column">
            <h2>Your Coffee Shelf is Empty</h2>
            <p>Add a new coffee to your shelf to start logging your brews</p>
          </div>
        </div>
      <% end %>
      <div class="shelf-item">
        <div class="coffee-card card column">
          <h4 class="name"><%= link_to "Add New Coffee", coffees_path, class: 'link link-primary link-title' %></h4>
          <p>Add a new coffee to your shelf by searching for it from the coffees page and clicking the
            <i class="icon-sl-add"></i> icon.</p>
          <%= link_to coffees_path, class: 'btn btn-primary btn-primary-border' do %>
            Find a Coffee <i class="icon-basic-coffee-bag"></i>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="brews">
    <h2><%= link_to 'Your Brews', brews_path, class: 'link-white link-title' %></h2>
    <div class="card">
      <%= turbo_frame_tag 'page_handler' %>
      <div class="brews-table" id="brews_table">
        <%= render 'brews/brews_table', brews: @brews %>
      </div>
      <%= render 'brews_table_pager', pagy: @pagy %>
    </div>
  </section>

  <section class="favourites">
    <h2><%= link_to 'Your Favourites', favourites_path, class: 'link link-white link-title' %></h2>
    <div id="dashboard_favourites" class="shelf row">
      <% @favourites.each do |coffee| %>
        <%= render 'favourites/favourite', coffee: coffee %>
      <% end %>
    </div>
  </section>

</main>
