<div id="<%= dom_id brew %>" class="card column">

  <h3>
    <%= brew.user == current_user ? "You" : brew.user.display_name %>
    brewed <%= link_to brew.coffee.name, brew.coffee, class: 'link link-primary link-primary-title' %>
  </h3>
  <h4><%= time_ago_in_words(brew.created_at) %> ago</h4>

  <p class="small">
    <strong>Tasting Notes:</strong>
    <%= brew.coffee.tasting_notes %>
  </p>

  <div data-controller="brew-ratio" class="ratio-row">
    <div class="field">
      <span data-brew-ratio-target="coffeeWeight"><%= brew.coffee_weight %></span>g Coffee
    </div>
    <div class="field">
      <span data-brew-ratio-target="waterWeight"><%= brew.water_weight %></span>g Water
    </div>
    <div class="field">
      Ratio: 1:<span data-brew-ratio-target="ratio"></span>
    </div>
  </div>

  <p>
    <strong>Equipment:</strong>
    <%= brew.equipment %>
    <strong>Method:</strong>
    <%= brew.method %>
  </p>

  <p>
    <strong>Grinder:</strong>
    <%= brew.grinder %>
  </p>

  <p>
    <strong>Grinder setting:</strong>
    <%= brew.grinder_setting %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= brew.time %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= brew.notes %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= brew.rating %>
  </p>

</div>
<hr>
