<div id="<%= dom_id brew %>">
  <p>
    <strong>ID:</strong>
    <%= brew.id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= brew.user_id %>
  </p>

  <p>
    <strong>Coffee:</strong>
    <%= brew.coffee_id %>
  </p>

  <p>
    <strong>Created At:</strong>
    <%= time_ago_in_words(brew.created_at) %> ago
  </p>

  <p>
    <strong>Equipment:</strong>
    <%= brew.equipment %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= brew.method %>
  </p>

  <p>
    <strong>Coffee weight:</strong>
    <%= brew.coffee_weight %>
  </p>

  <p>
    <strong>Water weight:</strong>
    <%= brew.water_weight %>
  </p>

  <p>
    <strong>Grinder:</strong>
    <%= brew.grinder %>
  </p>

  <p>
    <strong>Grinder setting:</strong>
    <%= brew.grinder_setting %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= brew.time %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= brew.notes %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= brew.rating %>
  </p>

</div>
<hr>
