<tr onclick="location.href='<%= brew_path(brew) %>'" class="brew-row row">
  <td class="coffee-name">
    <h5>
      <%= @recent_brews.nil? ? brew.coffee.name : "Brewed by #{brew.user.username}" %>
    </h5>
  </td>
  <td class="equipment">
    <p><%= brew.equipment %></p>
  </td>
  <td data-controller="brew-ratio" class="config row">
    <p class="row">
      <i class="icon-basic-coffee-beans-4"></i>
      <span data-brew-ratio-target="coffeeWeight"><%= brew.coffee_weight %></span>
      <%= brew.coffee_weight.present? ? 'g' : '-' %>
    </p>
    <p class="row">
      <i class="icon-basic-water-drop"></i>
      <span data-brew-ratio-target="waterWeight"><%= brew.water_weight %></span>
      <%= brew.water_weight.present? ? 'g' : '-' %>
    </p>
    <p class="row ratio">1:<span data-brew-ratio-target="ratio">10.0</span></p>
    <p class="row"><i class="icon-basic-temperature"></i><%= brew.temperature ||= '-' %></p>
    <p class="row"><i class="icon-basic-stopwatch-1"></i><%= brew.time != 0 ? brew.formatted_time : '-' %></p>
    <p class="row"><%= brew.rating ||= '-' %>/10</p>
  </td>
  <td class="created">
    <p>
      <small><%= brew.created_at > 1.week.ago ? "#{time_ago_in_words(brew.created_at)} ago" : brew.created_at.strftime("%d %b %Y") %></small>
    </p>
  </td>
</tr>