<%= form_with(model: brew, url: coffee_brews_path) do |form| %>
  <% if brew.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brew.errors.count, "error") %> prohibited this brew from being saved:</h2>

      <ul>
        <% brew.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :equipment, class: 'form-input' %>
    <%= form.label :equipment, class: 'form-label' %>
  </div>

  <div class="field">
    <%= form.text_field :method, class: 'form-input' %>
    <%= form.label :method, class: 'form-label' %>
  </div>

  <div class="field">
    <%= form.number_field :coffee_weight, class: 'form-input' %>
    <%= form.label :coffee_weight, class: 'form-label' %>
  </div>

  <div class="field">
    <%= form.number_field :water_weight, class: 'form-input' %>
    <%= form.label :water_weight, class: 'form-label' %>
  </div>

  <div class="field">
    <%= form.text_field :grinder, class: 'form-input' %>
    <%= form.label :grinder, class: 'form-label' %>
  </div>

  <div class="field">
    <%= form.text_field :grinder_setting, class: 'form-input' %>
    <%= form.label :grinder_setting, class: 'form-label' %>
  </div>

  <div class="field">    
    <%= form.number_field :time, class: 'form-input' %>
    <%= form.label :time, class: 'form-label' %>
  </div>

  <div class="field">
    <%= form.text_area :notes, class: 'form-input' %>
    <%= form.label :notes, class: 'form-label' %>
  </div>

  <div class="field">
    <%= form.number_field :rating, class: 'form-input' %>
    <%= form.label :rating, class: 'form-label' %>
  </div>

  <div class="action">
    <%= form.submit 'Log Brew', class: 'form-submit btn btn-primary' %>
  </div>
<% end %>
