<%= form_with model: [@coffee, @brew], class: "model-form" do |form| %>
  <% if brew.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brew.errors.count, "error") %> prohibited this brew from being saved:</h2>

      <ul>
        <% brew.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="multi-field row ratio-row" data-controller="brew-ratio">
    <div class="field">
      <%= form.number_field :coffee_weight,
                            class: 'form-input',
                            placeholder: 'Coffee Weight',
                            step: '0.1',
                            min: '0',
                            value: (@last_brew ? @last_brew.coffee_weight : @brew.coffee_weight),
                            data: { target: "brew-ratio.coffeeWeight", action: "brew-ratio#connect" } %>
      <%= form.label :coffee_weight, class: 'form-label' %>
    </div>

    <div class="field">
      <%= form.number_field :water_weight,
                            class: 'form-input',
                            placeholder: 'Water Weight',
                            step: '0.1',
                            min: '0',
                            value: (@last_brew ? @last_brew.water_weight : @brew.water_weight),
                            data: { target: "brew-ratio.waterWeight", action: "brew-ratio#connect" } %>
      <%= form.label :water_weight, class: 'form-label' %>
    </div>
    <div class="field ratio">
      <div class="form-input">1 : <span data-brew-ratio-target="ratio"></span></div>
      <div class="form-label">Ratio</div>
    </div>
  </div>

  <div class="multi-field row">
    <div class="time field">
      <% if %w[new create].include? action_name %>
        <%= form.text_field :time, class: 'form-input', data: { target: "stopwatch.brewTime" }, placeholder: 'Time' %>
      <% else %>
        <%= form.text_field :time, class: 'form-input', placeholder: 'Time', value: @brew_time %>
      <% end %>
      <%= form.label :time, class: 'form-label' %>
    </div>
    <div class="field">
      <%= form.number_field :temperature, class: 'form-input', placeholder: 'Temperature', step: '0.1', min: '0', max: '200', value: (@last_brew ? @last_brew.temperature : @brew.temperature) %>
      <%= form.label :temperature, class: 'form-label' %>
    </div>
  </div>

  <div class="multi-field row">
    <div class="field">
      <%= form.text_field :equipment, class: 'form-input', placeholder: 'Equipment', value: (@last_brew ? @last_brew.equipment : @brew.equipment) %>
      <%= form.label :equipment, class: 'form-label' %>
    </div>

    <div class="field">
      <%= form.text_field :method, class: 'form-input', placeholder: 'Method', value: (@last_brew ? @last_brew.method : @brew.method) %>
      <%= form.label :method, class: 'form-label' %>
    </div>
  </div>

  <div class="multi-field row">
    <div class="field">
      <%= form.text_field :grinder, class: 'form-input', placeholder: 'Grinder', value: (@last_brew ? @last_brew.grinder : @brew.grinder) %>
      <%= form.label :grinder, class: 'form-label' %>
    </div>

    <div class="field">
      <%= form.text_field :grinder_setting, class: 'form-input', placeholder: 'Grinder Setting', value: (@last_brew ? @last_brew.grinder_setting : @brew.grinder_setting) %>
      <%= form.label :grinder_setting, class: 'form-label' %>
    </div>
  </div>


  <div class="field">
    <%= turbo_frame_tag "#{dom_id(brew)}_notes" do %>
      <%= form.text_area :notes, class: 'form-input', placeholder: 'Notes' %>
      <%= form.label :notes, class: 'form-label' %>
      <% if action_name == "edit" %>
        <%= form.button "Update Note", class: "inline-action link link-primary" %>
        <%= link_to "Cancel", brew_path(brew), class: "inline-action link link-primary" %>
      <% end %>
    <% end %>
  </div>


  <div class="multi-field row">
    <div class="field">
      <%= turbo_frame_tag "#{dom_id(brew)}_rating" do %>
        <%= form.number_field :rating, class: 'form-input', min: '0', max: '11', placeholder: 'Rating' %>
        <%= form.label :rating, class: 'form-label' %>
        <% if action_name == "edit" %>
          <%= form.button "Update Rating", class: "inline-action link link-primary" %>
          <%= link_to "Cancel", brew_path(brew), class: "inline-action link link-primary" %>
        <% end %>
      <% end %>
    </div>
    <div class="field toggle-field">
      <label class="toggle">
        <%= form.check_box :public, class: "toggle-checkbox", value: (@last_brew ? @last_brew.public? : @brew.public?) %>
        <div class="toggle-switch"></div>
        <span class="toggle-label">Make this brew public?</span>
      </label>
    </div>
  </div>

  <div class="action">
    <%= form.submit 'Log Brew', class: 'form-submit btn btn-primary' %>
  </div>
<% end %>
