<main class="<%= controller_name %>-<%= action_name %>">
  <div class="banner banner-primary-1">
    <div class="banner-content">
      <div class="page-title">
        <h2>Your Brews</h2>
      </div>
      <p>
        <span><span id="total_brews_count"><%= current_user.brews.count %></span> brews</span>
        <span>&#8226;</span>
        <span><span id="weekly_brews_count"><%= current_user.brews.this_week.count %></span> this week</span>
        <span>&#8226;</span>
        <span><span id="daily_brews_count"><%= current_user.brews.today.count %></span> today</span>
      </p>
    </div>
  </div>

  <div class="brews-container">
    <div class="brews-table card column">
      <% @brews.each do |brew| %>
        <div class="brew-row row">
          <%= brew.coffee.name %>
        </div>
      <% end %>
    </div>
  </div>
</main>