<p style="color: green"><%= notice %></p>
<main class="<%= controller_name %>-<%= action_name %>">

  <h1>Brews</h1>

  <div id="brews">
    <% @brews.each do |brew| %>
      <%= render brew %>
      <p>
        <%= link_to "Show this brew", brew %>
      </p>
    <% end %>
  </div>

</main>