<div class="devise registration container centered">
  <div class="registration-row row">
    <div class="column card">
      <div class="form">
        <h2 class="form-title">Sign Up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
          <div class="field">
            <%= form.email_field :email, class: 'form-input', autofocus: true, autocomplete: 'email', placeholder: 'Email', required: true %>
            <%= form.label :email, class: 'form-label' %>
          </div>
          <div class="field">
            <%= form.text_field :username, class: 'form-input', autocomplete: 'username', placeholder: 'Username', required: true %>
            <%= form.label :username, class: 'form-label' %>
          </div>
          <div class="multi-field row">
            <div class="field">
              <%= form.text_field :first_name, class: 'form-input', autocomplete: 'first-name', placeholder: 'First name' %>
              <%= form.label :first_name, class: 'form-label' %>
            </div>
            <div class="field">
              <%= form.text_field :last_name, class: 'form-input', autocomplete: 'last-name', placeholder: 'Last name' %>
              <%= form.label :last_name, class: 'form-label' %>
            </div>
          </div>
          <div class="field">
            <%= form.password_field :password, class: 'form-input', autocomplete: 'new-password', placeholder: 'Password', required: true %>
            <%= form.label :password, class: 'form-label' %>
          </div>
          <div class="field">
            <%= form.password_field :password_confirmation, class: 'form-input', autocomplete: 'new-password', placeholder: 'Confirm Password', required: true %>
            <%= form.label :password_confirmation, 'Password again', class: 'form-label' %>
          </div>
          <div class="terms">
            By clicking Sign Up, you agree to our <%= link_to 'Terms', terms_path, class: 'link link-primary' %>.
          </div>
          <div class="action">
            <%= form.submit 'Sign Up', class: 'form-submit btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column card brand">
      <h1 class="logo">Daily Brew</h1>
      <span class="tag-line">Your journey to your perfect brew.</span>
    </div>
  </div>
</div>


