
<% @users.each do |user| %>
  <tr>
    <td class="user-name"><%= user.display_name %></td>
    <td><a href="mailto:<%= user.email %>"><i class="las la-envelope"></i></a></td>
    <td><%= user.subscription_interest %></td>
    <td><%= user.public_profile %></td>
    <td><%= user.admin %></td>
    <td><%= user.shelf_items_count %></td>
    <td><%= user.favourites_count %></td>
    <td><%= user.brews_count %></td>
    <td><%= user.public_brews_count %></td>
    <td><%= user.current_sign_in_at.present? ? "#{time_ago_in_words(user.current_sign_in_at)} ago" : "Never" %></td>
  </tr>
<% end %>
