<%= form_with model: roaster, class: "model-form" do |form| %>
  <% if roaster.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(roaster.errors.count, "error") %> prohibited this roaster from being saved:</h2>

      <ul>
        <% roaster.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="multi-field row">
    <div class="field">
      <%= form.text_field :name, class: 'form-input', required: true, placeholder: 'Name' %>
      <%= form.label :name, class: 'form-label' %>
    </div>
    <div class="field">
      <%= form.text_field :reference, class: 'form-input', required: true, placeholder: 'Reference' %>
      <%= form.label :reference, class: 'form-label' %>
    </div>
  </div>

  <div class="field">
    <%= form.text_area :description, class: 'form-input', placeholder: 'Description' %>
    <%= form.label :description, class: 'form-label' %>
  </div>

  <div class="field">
    <%= form.text_field :location, class: 'form-input', placeholder: 'Location' %>
    <%= form.label :location, class: 'form-label' %>
  </div>

  <div class="multi-field row">
    <div class="field">
      <%= form.text_field :website, class: 'form-input', required: true, placeholder: 'Website' %>
      <%= form.label :website, class: 'form-label' %>
    </div>

    <div class="field">
      <%= form.text_field :twitter, class: 'form-input', placeholder: 'Twitter' %>
      <%= form.label :twitter, class: 'form-label' %>
    </div>
  </div>

  <div class="multi-field row">
    <div class="field">
      <%= form.text_field :instagram, class: 'form-input', placeholder: 'Insta' %>
      <%= form.label :instagram, class: 'form-label' %>
    </div>

    <div class="field">
      <%= form.text_field :facebook, class: 'form-input', placeholder: 'Facebook' %>
      <%= form.label :facebook, class: 'form-label' %>
    </div>
  </div>

  <div class="action">
    <%= form.submit "Save Roaster", class: 'form-submit btn btn-primary' %>
  </div>
<% end %>
