<div id="<%= dom_id roaster %>" class="roaster-card column">
  <div class="header">
    <h3 class="link link-primary"><%= link_to roaster.name, roaster, class: 'link link-primary' %></h3>
    <div class="location">
      <%= roaster.location.split(',').last(2).join(',') %>
    </div>
  </div>
  <div class="row">
    <div class="available-coffees">
      <%= roaster.available_coffees_count %><i class="las la-shopping-bag"></i>
    </div>
    <div class="socials row">
      <a href="https://<%= roaster.website %>"><i class="las la-link"></i></a>
      <a href="https://www.google.com/maps/?q=<%= roaster.name %>, <%= roaster.location %>" target=_blank><i class="las la-map-marked-alt"></i></a>
      <% if roaster.twitter %>
        <a href="https://twitter.com/<%= roaster.twitter %>" target=_blank><i class="lab la-twitter"></i></a>
      <% end %>
      <% if roaster.instagram %>
        <a href="https://instagram.com/<%= roaster.instagram %>" target=_blank><i class="lab la-instagram"></i></a>
      <% end %>
      <% if roaster.facebook %>
        <a href="https://facebook.com/<%= roaster.facebook %>" target=_blank><i class="lab la-facebook-square"></i></a>
      <% end %>
    </div>
  </div>
<!-- end #{action-name}-card -->
</div>