<div class="search-form">
  <%= form_with url: roasters_path, method: "GET" do |form| %>
    <div class="field">
      <%= form.text_field :query, class: 'form-input search', placeholder: 'Search' %>
      <%= button_tag(type: 'submit', class: 'form-submit form-search btn btn-primary') do %>
        <i class="las la-search"></i>
      <% end %>
    </div>
  <% end %>

  <div class="results">
    <% if params[:query] %>
      <%= pluralize(@pagy.count, 'result') %> for "<%= params[:query] %>"
    <% end %>
  </div>
</div>