<div id="<%= dom_id roaster %>">
  <p>
    <strong>Reference:</strong>
    <%= roaster.reference %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= roaster.name %>
  </p>

  <p>
    <strong>Number of Coffees:</strong>
    <%= roaster.coffees.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= roaster.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= roaster.location %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= roaster.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= roaster.lng %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= roaster.website %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= roaster.twitter %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= roaster.instagram %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= roaster.facebook %>
  </p>

</div>
