<main class="<%= controller_name %>-<%= action_name %>">

  <header>
    <div class="title">
      <h1>
        Edit <a class="link-primary" href="<%= @roaster.url %>"><%= @roaster.name %></a>
      </h1>
    </div>
  </header>

  <%= render "form", roaster: @roaster %>

  <div class="form-links">
    <%= link_to "Show this roaster", @roaster %> |
    <%= link_to "Back to roasters", roasters_path %>
  </div>
</main>