<main class="<%= controller_name %>-<%= action_name %>">

  <header class="banner banner-primary-1">
    <div class="banner-content">
      <div class="page-title">
        <h2>
          Edit <a class="link-primary" href="<%= @roaster.website %>"><%= @roaster.name %></a>
        </h2>
      </div>
    </div>
  </header>

  <%= render "form", roaster: @roaster %>

  <div class="form-links">
    <%= link_to "Show this roaster", @roaster %> |
    <%= link_to "Back to roasters", roasters_path %>
  </div>
</main>