<p style="color: green"><%= notice %></p>

<main class="roasters">
  <h1>Roasters</h1>
  <div class="intro">
    <p class="lead">This is a list of <%= @roasters_count %> roasters in the UK. There are more, but we think this is a
      pretty good list! </p>
    <p>If there is a roaster not on this list, please let us know and we'll get them added!</p>
  </div>

  <div id="roasters">
    <%== pagy_nav(@pagy) %>
    <% @roasters.each do |roaster| %>
      <div class="index-card">
        <%= render roaster %>
        <%= link_to 'Show This Roaster', roaster %>

      </div>
    <% end %>
  </div>

  <% if current_user&.admin %>
    <%= link_to "New roaster", new_roaster_path %>
  <% end %>
</main>