<p style="color: green"><%= notice %></p>

<%= render @roaster %>

<div>
  <% if current_user.admin? %>
    <%= button_to "Update Coffees", update_roaster_coffees_path(@roaster), method: :post %>
    <%= link_to "Edit this roaster", edit_roaster_path(@roaster) %>
    <%= button_to "Destroy this roaster", @roaster, method: :delete %>
  <% end %>

  <%= link_to "Back to roasters", roasters_path %>
</div>
