<div class="devise container centered">
  <div class="column card">
    <div class="form">
      <h1 class="logo">Daily Brew</h1>
      <div class="form-title">
        <h2>Change Password</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |form| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="field">
          <%= form.password_field :password, class: 'form-input', autocomplete: 'new-password', placeholder: 'Password', required: true %>
          <%= form.label :password, class: 'form-label' %>
        </div>
        <div class="field">
          <%= form.password_field :password_confirmation, class: 'form-input', autocomplete: 'new-password', placeholder: 'Confirm Password', required: true %>
          <%= form.label :password_confirmation, 'Password again', class: 'form-label' %>
        </div>
        <div class="action">
          <%= form.submit 'Change ', class: 'form-submit btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
