<nav data-controller="navbar">
  <div class="navbar row">
    <div class="nav-left row">
      <%= link_to 'Daily Brew', root_path, class: 'nav-brand logo' %>
      <div class="nav-links row">
        <%= link_to 'Journal', dashboard_path, class: 'link link-primary' %>
        <%= link_to 'Roasters', roasters_path, class: 'link link-primary' %>
        <%= link_to 'Coffees', coffees_path, class: 'link link-primary' %>
        <%= link_to 'Subscription', subscription_path, class: 'link link-primary' %>
      </div>
    </div>
    <div class="nav-right">
      <div class="nav-authentication-btns row">
        <% unless current_user %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary-border' %>
          <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
        <% else %>
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-primary-border' %>
        <% end %>
      </div>
      <div data-action="click->navbar#expand" class="nav-menu-expand btn btn-primary-border">
        <i class="las la-bars"></i>
      </div>
    </div>
  </div>
  <div class="nav-menu column">
    <div data-action="click->navbar#collapse" class="nav-menu-collapse btn btn-primary-border row">
      <i class="las la-times"></i>
    </div>
    <div class="nav-authentication-btns row">
      <% unless current_user %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary-border' %>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
      <% else %>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-primary-border' %>
      <% end %>
    </div>
  </div>
  <div class="nav-menu-background"></div>
</nav>
