<nav data-controller="navbar" class="navbar">
  <div class="nav-left">
    <div class="nav-link nav-link-large">
      <i class="las la-coffee"></i>
    </div>
  </div>
  <div class="nav-center">
    <div class="nav-brand">
      <%= link_to "Daily Brew", root_path, class: "brand" %>
    </div>

    <div class="nav-links">
      <% if current_user %>
        <h2><%= link_to "Journal", dashboard_path, class: "nav-link" %></h2>
      <% else %>
        <h2><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></h2>
      <% end %>

      <h2><%= link_to "Roasters", roasters_path, class: "nav-link" %></h2>
      <h2><%= link_to "Subscription", subscription_path, class: "nav-link" %></h2>
      <h2><%= link_to "About Us", about_path, class: "nav-link" %></h2>
    </div>
  </div>

  <div class="nav-right">
    <% if current_user %>
      <div class="nav-dropdown">
        <span class="dropdown-button nav-link link-secondary">
          <i class="las la-user-circle"></i><i class="las la-angle-down"></i>
        </span>
        <div class="dropdown-content">
          <%= render 'shared/navbar_dropdown_links', mobile_only: false %>
        </div>
      </div>
      <div data-action="click->navbar#expand" class="nav-mobile-expand nav-link nav-link-large link link-secondary">
        <i class="las la-bars"></i>
      </div>
    <% else %>
      <%= link_to new_user_session_path, class: "nav-link" do %>
        <i class="las la-sign-in-alt"></i>
      <% end %>

    <% end %>
  </div>
</nav>
