<main class="pages">
  <div class="banner banner-primary-1">
    <div class="banner-content">
      <div class="page-title">
        <h1>Daily Brew</h1>
      </div>
      <div class="stats">
        <%= turbo_stream_from "daily_brewers_count" %>
        <%= turbo_stream_from "daily_brews_count" %>
        <h2>
          <% if Brew.today.count == 0 %>
            No one has brewed today. <br>
            Will you be the first?
          <% else %>
            <span id="daily_brewers"><%= User.daily_brewers.count %></span> users have brewed
            <span id="daily_brews"><%= Brew.today.count %></span> coffees today
          <% end %>
        </h2>
      </div>
      <div class="cta">
        <%= link_to "Brew Now", shelf_items_path(brew_now: true), class: 'btn btn-complementary' %>
      </div>
    </div>
  </div>

  <section class="introduction">
    <p>Do you brew coffee daily?</p>
    <p>Do you want to be able to keep track of which coffees are your favourites and which brews were the best?</p>
    <p>So did we! So join us in the <b>Daily Brew Club.</b></p>
    <h2>Welcome to <%= @newest_user.display_name %>, our latest member!</h2>

    <% unless current_user %>
      <div class="cta">
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-complementary' %>
      </div>
    <% end %>
  </section>

  <section class="explanation">
    <%= @content.html_safe %>
  </section>
</main>