<nav data-controller="navbar">
  <div class="navbar row">
    <%= link_to 'Daily Brew', root_path, class: 'nav-brand logo' %>
    <%= render 'shared/navbar/nav_links', direction: 'row' %>
    <div class="nav-right">
      <%= render 'shared/navbar/nav_authentication_btns' %>
      <button data-action="navbar#open" class="nav-menu-expand btn btn-primary-border">
        <i class="icon-basic-menu"></i>
      </button>
    </div>
  </div>

  <div class="nav-menu" data-navbar-target="menu" hidden>
    <div class="nav-menu-controls row">
      <button data-action="navbar#close" class="nav-menu-collapse btn btn-primary-border row">
        <i class="icon-basic-cancel-1"></i>
      </button>
    </div>
    <%= render 'shared/navbar/nav_links', direction: 'column' %>
    <%= render 'shared/navbar/nav_authentication_btns' %>
  </div>
  <div data-action="click->navbar#close" data-navbar-target="background" class="nav-menu-background" hidden></div>
</nav>
