<div class="nav-links <%= direction %>">
  <%= link_to 'Journal', dashboard_path, class: 'link link-primary' %>
  <%= link_to 'Roasters', roasters_path, class: 'link link-primary' %>
  <%= link_to 'Coffees', coffees_path, class: 'link link-primary' %>
  <%= link_to 'Subscription', subscription_path, class: 'link link-primary' %>
</div>