<nav data-controller="navbar">
  <div class="navbar row">
    <div class="nav-left row">
      <%= link_to 'Daily Brew', root_path, class: 'nav-brand logo' %>
      <%= render 'shared/navbar/nav_links', direction: 'row' %>
    </div>
    <div class="nav-right">
      <%= render 'shared/navbar/nav_authentication_btns' %>
      <div data-action="click->navbar#expand" class="nav-menu-expand btn btn-primary-border">
        <i class="las la-bars"></i>
      </div>
    </div>
  </div>

  <div class="nav-menu column">
    <div class="nav-menu-controls row">
      <div data-action="click->navbar#collapse" class="nav-menu-collapse btn btn-primary-border row">
        <i class="las la-times"></i>
      </div>
    </div>
    <%= render 'shared/navbar/nav_links', direction: 'column' %>
    <%= render 'shared/navbar/nav_authentication_btns' %>
  </div>
  <div data-action="click->navbar#collapse" class="nav-menu-background"></div>
</nav>
