<!DOCTYPE html>
<html>
  <head>
    <title>Ride the Wave</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <header>
    <nav class="navbar">
      <div class="nav-brand">
        <%= link_to "Ride the Wave", root_path, class: "brand" %>

      </div>
      <div class="nav-left">

      </div>
      <div class="nav-right">

      </div>
    </nav>
  </header>

    <%= yield %>
  </body>
</html>
