<!DOCTYPE html>
<html>
  <head>
    <title>Daily Brew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <% if type != 'timedout' %>
        <div data-controller="alerts" class="alert <%= alert_class_for(type) %>" role="alert">
          <%= msg %>
          <span data-action="click->alerts#dismiss" class="btn-close"><i class="las la-times"></i></span>
        </div>
      <% end %>
    <% end %>

    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
