<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>Daily Brew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="theme-color" content="#064763">
    <meta name="description" content="Do you want to be able to keep track of which coffees are your favourites and which brews were the best? So did we! So join us in the Daily Brew Club, an app for coffee drinkers to log their brews and save their favourite coffees.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_frame_tag "modal" %>
    <%= turbo_frame_tag "flash" do %>
      <%= render 'shared/flash' %>
    <% end %>
    <%= render 'shared/navbar/navbar' %>
    <%= yield %>
  </body>
</html>
