<!DOCTYPE html>
<html>
  <head>
    <title>Ride the Wave</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/30fa2950fc.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <% if type != 'timedout' %>
        <div data-controller="alerts" class="alert <%= alert_class_for(type) %>" role="alert">
          <%= msg %>
          <span data-action="click->alerts#dismiss" class="btn-close"><i class="fas fa-times"></i></span>
        </div>
      <% end %>
    <% end %>

    <% if devise_controller? %>
      <div class="devise container centered">
        <div class="devise-container row">
          <div class="column">
            <div class="form">
              <%= yield %>
            </div>
          </div>
          <div class="column brand">
            <div class="subheading">
              <h4>Discover the wave.</h4>
              <h4>Share the wave.</h4>
            </div>
            <h1 class="heading">Ride the Wave.</h1>
            <span class="tag-line">Your coffee journey starts here.</span>
          </div>
        </div>
      </div>
    <% else %>
      <%= render 'shared/navbar' %>
      <%= yield %>
    <% end %>
  </body>
</html>
