<!DOCTYPE html>
<html>
  <head>
    <title>Daily Brew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_frame_tag "modal" %>
    <%= turbo_frame_tag "flash" do %>
      <%= render 'shared/flash' %>
    <% end %>
    <%= render 'shared/navbar/navbar' %>
    <%= yield %>
  </body>
</html>
